@use '../util' as *;

.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;

    @include breakpoint(medium) {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
        gap: rem(30);
        margin-bottom: rem(72);
    }

    .feature {
        display: grid;
        grid-template-areas:
            "f_image"
            "f_title"
            "f_content";
        grid-template-columns: auto;
        grid-template-rows: repeat(3, auto);
        // gap: rem(28);
        margin-bottom: rem(44);

        @include breakpoint(medium) {
            grid-template-areas:
                "f_image f_image"
                "f_title f_content";
            grid-template-rows: 3fr 2fr;
            grid-template-columns: 1fr 1fr;
            margin-bottom: 0;
        }

        &__image {
            grid-area: f_image;
            margin-bottom: rem(28);

            @include breakpoint(medium) {
                margin-bottom: 0;
            }
        }

        &__title {
            grid-area: f_title;
            color: var(--very-dark-blue);
            margin-bottom: rem(28);

            @include breakpoint(medium) {
                margin-bottom: 0;
            }
        }

        &__content {
            grid-area: f_content;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: rem(28);

            &__excerpt {
                padding-right: rem(30);
                color: var(--dark-grayish-blue);
                margin-bottom: rem(38);
            }

            &__btn {
                text-transform: uppercase;
                background-color: var(--soft-red);
                color: var(--off-white);
                display: inline-block;
                width: rem(180);
                height: rem(50);
                transition: all 200ms ease-in-out;

                &:hover {
                    background-color: var(--very-dark-blue);

                }
            }
        }

    }

    .sidebar {
        background-color: var(--very-dark-blue);
        padding: rem(28) rem(22) 0 rem(22);
        margin-bottom: rem(64);

        @include breakpoint(medium) {
            padding: rem(36) rem(25) 0 rem(25);
            margin-bottom: rem(0);
        }

        &__title {
            color: var(--soft-orange);
            margin-bottom: rem(42);

            @include breakpoint(medium) {
                margin-bottom: rem(36);
            }
        }

        article {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            // gap: rem(25);

            &:not(:last-child) {
                border-bottom: 1px solid var(--grayish-blue);
                margin-bottom: rem(32);
            }

            h3 {
                color: var(--off-white);
                margin-bottom: rem(14);
            }

            p {
                color: var(--grayish-blue);
                margin-bottom: rem(36);
            }
        }
    }


}

.articles {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(1fr);
    gap: rem(34);
    margin-bottom: rem(81);

    @include breakpoint(medium) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        gap: rem(45);
        margin-bottom: rem(129);
    }

    .article {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
        gap: rem(25);

        &__content {
            display: flex;
            flex-direction: column;
            // justify-content: space-between;
            gap: rem(9);
            justify-content: center;


            @include breakpoint(xsmall) {
                gap: rem(20);
                justify-content: center;
            }
            
            @include breakpoint(medium) {
                gap: rem(24);
                justify-content: space-between;
            }

            span {
                font-size: var(--fs-lg);
                font-weight: 700;
            }

            h4 {
                color: var(--very-dark-blue);
            }

            p {
                color: var(--dark-grayish-blue);
            }
        }
    }
}